body{
    padding: 10px 100px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li{
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: large;
    font-weight: 700;
}
.logo h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: #000000;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero-img {
    width: 100%;
    height: 100%;
}
.hero-content {
    margin: 150px 0px;
}

.hero-content h1{
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}

.hero-content p {
    color: rgba(0, 0, 0, 0.664);
}
.hello{
    font-weight: 500;
}

.social-icons
{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    gap: 30px;
}

#resume-download {
    background-color: #000000;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#skills{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-skills{
    display: flex;
    flex-direction: column;
}
.skill-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skill-box{
    width: 200px;
    height: 100%;
    border: 2px solid black;
    margin: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-content: center;
}
